<?xml version="1.0"?>

<launch>
	<!-- SENSORS -->
	<arg name="server_node_config_file" default="$(find maplab_server_node)/share/darpa-smb-pittsburgh.yaml"/>
	<arg name="overwrite" default="true"/>

	<arg name="alsologtostderr" default="true"/>
	<arg name="colorlogtostderr" default="true"/>
	<arg name="v" default="0"/>
	<arg name="vis_default_namespace" default="maplab_server_rviz"/>

	<!-- TF -->
	<arg name="tf_map_frame" default="map"/>
	<arg name="tf_mission_frame" default="maplab_server_odom"/>
	<arg name="tf_imu_frame" default="maplab_server_imu"/>


	<node name="maplab_server_node" pkg="maplab_server_node" type="maplab_server_node" output="screen" clear_params="true">
		<param name="server_node_config_file" value="$(arg server_node_config_file)"/>
		<param name="overwrite" value="$(arg overwrite)"/>

		<!-- DEBUGGING AND LOGGING -->
		<param name="alsologtostderr" value="$(arg alsologtostderr)"/>
		<param name="colorlogtostderr" value="$(arg colorlogtostderr)"/>
		<param name="v" value="$(arg v)"/>
		<param name="vis_default_namespace" value="$(arg vis_default_namespace)"/>
		<param name="show_progress_bar" value="false"/>



		<!-- TF -->
    <param name="tf_map_frame" value="$(arg tf_map_frame)"/>
    <param name="tf_mission_frame" value="$(arg tf_mission_frame)"/>
    <param name="tf_imu_frame" value="$(arg tf_imu_frame)"/>
	</node>
</launch>
