<?xml version="1.0"?>

<launch>
	<node pkg="rosbag" type="play" name="rosbag" args="/home/mfehr/experimental_ws/maplab/vilens/fsc_asl_short_decompressed_with_dyn_tf_restamped.bag -q -d 2 -s 35 -r 1.0">
		<remap from="/vilens/odometry" to="/odometry/maplab_odom_T_M_I"/>
	</node>

	<!-- <node pkg="tf"
	        type="static_transform_publisher"
	        name="link1_broadcaster"
	        args="0 0 0 0 0 0 maplab_map odom 100" /> -->

	<!-- <node pkg="rviz" type="rviz" name="maplab_rviz" args="-d $(find maplab_node)/share/maplab.rviz -f map"/> -->

	<include file="$(find maplab_node)/launch/maplab_node_simple.launch">
		<arg name="robot_name" default=""/>
		<arg name="maplab_sensor_calibration_file" default="$(find maplab_node)/share/example_calibrations/anymal-oxford-vilens-d435i-body-imu.yaml"/>
		<arg name="maplab_imu_to_camera_time_offset_ns" default="0"/>
		<arg name="maplab_selected_imu_sensor" default="a12fcf479caf7592b35518478a2fe08f"/>
		<arg name="maplab_camera_mask_file" default=""/>

		<arg name="maplab_image_topic_suffix" default=""/>

	  <arg name="maplab_world_frame" default="odom"/>

	  <arg name="maplab_verbosity" default="0"/>

	  <arg name="maplab_save_map_every_n_sec" default="0"/>
		<arg name="maplab_keyframe_when_saving" default="false"/>

	  <arg name="maplab_attach_tracking_images" default="true"/>
	  <arg name="maplab_attach_point_clouds" default="false"/>
	  <arg name="maplab_attach_point_cloud_maps" default="false"/>

	  <arg name="maplab_map_folder" default="/tmp/maplab_node_oxford_vlens_odom"/>
	</include>
</launch>
