[submodule "tools/maplab_test_data"]
	path = tools/maplab-test-data
	url = git@github.com:ethz-asl/maplab_test_data.git
[submodule "dependencies/3rdparty/protobuf_catkin"]
	path = dependencies/3rdparty/protobuf_catkin
	url = git@github.com:ethz-asl/protobuf_catkin.git
[submodule "dependencies/3rdparty/glog_catkin"]
	path = dependencies/3rdparty/glog_catkin
	url = git@github.com:ethz-asl/glog_catkin.git
[submodule "dependencies/3rdparty/gflags_catkin"]
	path = dependencies/3rdparty/gflags_catkin
	url = git@github.com:ethz-asl/gflags_catkin.git
[submodule "dependencies/3rdparty/ceres_catkin"]
	path = dependencies/3rdparty/ceres_catkin
	url = git@github.com:ethz-asl/ceres_catkin.git
[submodule "dependencies/3rdparty/suitesparse"]
	path = dependencies/3rdparty/suitesparse
	url = git@github.com:ethz-asl/suitesparse.git
[submodule "dependencies/3rdparty/eigen_catkin"]
	path = dependencies/3rdparty/eigen_catkin
	url = git@github.com:ethz-asl/eigen_catkin.git
[submodule "dependencies/3rdparty/yaml_cpp_catkin"]
	path = dependencies/3rdparty/yaml_cpp_catkin
	url = git@github.com:ethz-asl/yaml_cpp_catkin.git
[submodule "dependencies/3rdparty/lpsolve_catkin"]
	path = dependencies/3rdparty/lpsolve_catkin
	url = git@github.com:ethz-asl/lpsolve_catkin.git
[submodule "dependencies/3rdparty/metis_catkin"]
	path = dependencies/3rdparty/metis_catkin
	url = git@github.com:ethz-asl/metis_catkin.git
[submodule "dependencies/3rdparty/opencv3_catkin"]
	path = dependencies/3rdparty/opencv3_catkin
	url = git@github.com:ethz-asl/opencv3_catkin.git
[submodule "dependencies/3rdparty/vision_opencv"]
	path = dependencies/3rdparty/vision_opencv
	url = git@github.com:ethz-asl/vision_opencv.git
[submodule "dependencies/3rdparty/opengv"]
	path = dependencies/3rdparty/opengv
	url = git@github.com:ethz-asl/opengv.git
[submodule "dependencies/3rdparty/doxygen_catkin"]
	path = dependencies/3rdparty/doxygen_catkin
	url = git@github.com:ethz-asl/doxygen_catkin.git
[submodule "dependencies/3rdparty/catkin_simple"]
	path = dependencies/3rdparty/catkin_simple
	url = git@github.com:catkin/catkin_simple.git
[submodule "dependencies/internal/voxblox"]
	path = dependencies/internal/voxblox
	url = git@github.com:ethz-asl/voxblox.git
[submodule "dependencies/internal/ethzasl_brisk"]
	path = dependencies/internal/ethzasl_brisk
	url = git@github.com:ethz-asl/ethzasl_brisk.git
[submodule "dependencies/internal/eigen_checks"]
	path = dependencies/internal/eigen_checks
	url = git@github.com:ethz-asl/eigen_checks.git
[submodule "dependencies/internal/libnabo"]
	path = dependencies/internal/libnabo
	url = git@github.com:ethz-asl/libnabo.git
[submodule "dependencies/internal/minkindr"]
	path = dependencies/internal/minkindr
	url = git@github.com:ethz-asl/minkindr.git
[submodule "dependencies/internal/minkindr_ros"]
	path = dependencies/internal/minkindr_ros
	url = git@github.com:ethz-asl/minkindr_ros.git
[submodule "dependencies/internal/maplab_rovio"]
	path = dependencies/internal/maplab_rovio
	url = git@github.com:ethz-asl/maplab_rovio.git
[submodule "dependencies/internal/kindr"]
	path = dependencies/internal/kindr
	url = git@github.com:ethz-asl/kindr.git
[submodule "dependencies/internal/plotty"]
	path = dependencies/internal/plotty
	url = git@github.com:ethz-asl/plotty.git
[submodule "dependencies/internal/ros-system-monitor"]
	path = dependencies/internal/ros-system-monitor
	url = git@github.com:ethz-asl/ros-system-monitor
[submodule "dependencies/internal/linter"]
	path = dependencies/internal/linter
	url = git@github.com:ethz-asl/linter.git
[submodule "dependencies/internal/maplab_tools"]
	path = dependencies/internal/maplab_tools
	url = git@github.com:ethz-asl/maplab_tools.git
[submodule "dependencies/internal/maplab_msgs"]
	path = dependencies/internal/maplab_msgs
	url = git@github.com:ethz-asl/maplab_msgs.git
[submodule "dependencies/3rdparty/pointmatcher-ros"]
	path = dependencies/3rdparty/pointmatcher-ros
	url = git@github.com:ANYbotics/pointmatcher-ros.git
[submodule "dependencies/3rdparty/libpointmatcher"]
	path = dependencies/3rdparty/libpointmatcher
	url = git@github.com:ANYbotics/libpointmatcher.git
