<?xml version="1.0"?>

<launch>

	<!-- MAPLAB SERVER -->
	<group ns="maplab_server">
		<node name="maplab_server_node" pkg="maplab_server_node" type="maplab_server_node" output="screen" clear_params="true">
			<rosparam command="load" file="$(find maplab_server_node)/cfg/maplab_server_ros_params.yaml"/>

			<!-- Overwrite map update topic -->
			<param name="maplab_server_map_update_topic" value="/transfolder_receiver/folder_received"/>
		</node>
	</group>

  <node name="transfolder_receiver" pkg="transfolder" type="receiver_node" output="screen" args="-alsologtostderr --log_dir=$(arg mapping_log_dir)">
    <param name="file_transfer_completion_topic_name" value="/maplab_server/map_update_notification" />
    <param name="file_transfer_completion_topic_queue_size" value="100" />

    <param name="file_transfer_topic_name" value="/transfolder/file_transfer" />
    <param name="file_transfer_topic_queue_size" value="100" />

    <param name="transfer_status_service_name" value="/transfolder/file_transfer_status" />

    <param name="root_directory" value="/tmp/maplab_server/" />
    <param name="log_file_path" value="$(env HOME)/transfolder_log/" />
  </node>

	<group if="true">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find maplab_server_node)/share/euroc/rviz/euroc-maplab-server-minimal.rviz" />
	</group>

</launch>
