<?xml version="1.0"?>

<launch>
	<node pkg="rviz" type="rviz" name="maplab_rviz" args="-d $(find maplab_node)/share/maplab.rviz -f map"/>

	<!-- ROVIOLI -->
	<group ns="rovioli">
		<node name="rovioli" pkg="rovioli" type="rovioli" output="screen" clear_params="true">

			<!-- GENERAL PARAMS -->
			<rosparam command="load" file="$(find maplab_launch)/config/euroc/ros/euroc-rovioli-rosparam.yaml"/>

			<!-- ROBOT SPECIFIC PARAMS -->
			<!-- SENSORS -->
			<param name="sensor_calibration_file" value="$(find maplab_launch)/config/euroc/calib/euroc-mono.yaml"/>
			<param name="imu_to_camera_time_offset_ns" value="0"/>
			<param name="vio_camera_topic_suffix" value="image_raw"/>

			<!-- ROVIOLI CONFIG -->
			<param name="rovioli_run_map_builder" value="false"/>
			<param name="rovio_enable_frame_visualization" value="true"/>
			<param name="rovioli_enable_health_checking" value="true"/>

			<remap from="/rovioli/maplab_odom_T_M_I" to="/odometry/maplab_odom_T_M_I"/>
		</node>
	</group>

	<!-- MAPLAB -->
	<node name="maplab_node" pkg="maplab_node" type="maplab_node" output="screen" clear_params="true">

		<!-- GENERAL PARAMS -->
		<rosparam command="load" file="$(find maplab_launch)/config/euroc/ros/euroc-maplab-node-rosparam.yaml"/>

		<!-- ROBOT SPECIFIC PARAMS -->
		<!-- SENSORS -->
		<param name="sensor_calibration_file" value="$(find maplab_launch)/config/euroc/calib/euroc-mono.yaml"/>
		<param name="imu_to_camera_time_offset_ns" value="0"/>
		<param name="vio_camera_topic_suffix" value="image_raw"/>

		<!-- MAPLAB_NODE_CONFIG -->
		<param name="map_save_every_n_sec" value="0"/>
		<param name="map_output_folder" value="/tmp/euroc/"/>
	</node>
</launch>
