<?xml version="1.0"?>

<launch>
	<node pkg="rosbag" type="play" name="rosbag" args="/mnt/data/datasets/arche_1_2020-06-29-16-30-34.bag -q -d 2 -s 3 -r 1.0"/>

	<node pkg="rviz" type="rviz" name="maplab_rviz" args="-d $(find maplab_node)/share/maplab.rviz -f map"/>

	<!-- ROVIOLI -->
	<group ns="rovioli">
		<node name="rovioli" pkg="rovioli" type="rovioli" output="screen" clear_params="true">

			<!-- GENERAL PARAMS -->
			<rosparam command="load" file="$(find maplab_launch)/config/lidarmace/ros/lidarmace-rovioli-rosparam.yaml"/>

			<!-- ROBOT SPECIFIC PARAMS -->
			<!-- SENSORS -->
			<param name="sensor_calibration_file" value="$(find maplab_launch)/config/lidarmace/calib/lidarmace-sensors.yaml"/>
			<param name="imu_to_camera_time_offset_ns" value="1903666"/>
			<param name="vio_camera_topic_suffix" value=""/>

			<!-- ROVIOLI CONFIG -->
			<param name="rovioli_run_map_builder" value="false"/>
			<param name="rovioli_image_apply_clahe_histogram_equalization" value="false"/>
			<param name="rovio_enable_frame_visualization" value="true"/>
			<param name="rovioli_enable_health_checking" value="false"/>

			<remap from="/rovioli/maplab_odom_T_M_I" to="/odometry/maplab_odom_T_M_I"/>
		</node>
	</group>

	<!-- MAPLAB -->
	<node name="maplab_node" pkg="maplab_node" type="maplab_node" output="screen" clear_params="true">

		<!-- GENERAL PARAMS -->
		<rosparam command="load" file="$(find maplab_launch)/config/lidarmace/ros/lidarmace-rovioli-rosparam.yaml"/>

		<!-- ROBOT SPECIFIC PARAMS -->
		<!-- SENSORS -->
		<param name="sensor_calibration_file" value="$(find maplab_launch)/config/lidarmace/calib/lidarmace-sensors.yaml"/>
		<param name="imu_to_camera_time_offset_ns" value="1903666"/>
		<param name="vio_camera_topic_suffix" value=""/>

		<!-- DENSE MAP -->
		<param name="map_builder_save_point_cloud_maps_as_resources" value="true"/>

		<!-- MAPLAB_NODE_CONFIG -->
		<param name="map_save_every_n_sec" value="0"/>
		<param name="map_run_keyframing_when_saving" value="false"/>
		<param name="image_apply_clahe_histogram_equalization" value="false"/>
		<param name="map_output_folder" value="/tmp/lidarmace/submaps/"/>
	</node>
</launch>
