<?xml version="1.0"?>

<!--
Requires:
 - ethz-asl/maplab_private
 - ethz-asl/transfolder
-->


<launch>

	<!-- MAPLAB SERVER -->
	<group ns="maplab_server">
		<include file="$(find maplab_server_node)/launch/maplab-server-node.launch">
			<arg name="maplab_server_backup_interval_s" default="300"/>
			<arg name="maplab_server_merged_map_folder" default="/tmp/maplab_server_merged_map"/>
			<arg name="maplab_server_map_update_topic" default="/transfolder_receiver/folder_received"/>

			<arg name="v" default="0"/>

			<arg name="tf_map_frame" default="map"/>
			<arg name="tf_mission_frame" default="maplab_server_odom"/>
			<arg name="tf_imu_frame" default="maplab_server_imu"/>
		</include>
	</group>

	<node name="transfolder_receiver" pkg="transfolder" type="receiver_node" output="screen" args="-alsologtostderr">
		<param name="file_transfer_completion_topic_name" value="/transfolder_receiver/folder_received" />
		<param name="file_transfer_topic_name" value="/transfolder/file_transfer" />
		<param name="transfer_status_service_name" value="/transfolder/file_transfer_status" />

		<param name="root_directory" value="/tmp/maplab_server_submaps/"/>
	</node>

	<!-- ARTIFACT MANAGER NODE -->
	<group if="true">
		<include file="$(find artifact_manager_node)/launch/artifact_manager.launch">
			<arg name="initial_artifact_store_folder" default="$(find maplab_server_node)/share/euroc/euroc-artifact-store" />
			<arg name="backup_artifact_store_folder" default="/tmp/backup-artifacts" />
			<arg name="artifact_vis_world_frame_name" default="map" />
			<arg name="artifact_refinement_sensor_frame" default="NCAMERA" />
			<arg name="artifact_refinement_check_interval_s" default="10" />
			<arg name="artifact_ros_map_lookup_service_topic" default="/maplab_server/map_lookup"/>
			<arg name="artifact_ros_new_artifacts_sub_topic" default="/operator/confirmed_artifacts" />

			<arg name="artifact_ros_open_rqt" default="false" />
		</include>
	</group>

	<group if="true">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find maplab_server_node)/share/euroc/rviz/euroc-maplab-server-minimal.rviz" />
	</group>

</launch>
