<?xml version="1.0"?>

<launch>

	<!-- ================================== MH_01 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_1"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="/home/mfehr/experimental_ws/maplab/example_bags/euroc/MH_01_easy.bag -q -d 5 -s 0 -r 0.75">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-1.yaml"/>
		  <arg name="maplab_save_map_every_n_sec" default="10"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
		  <arg name="maplab_map_folder" default="/tmp/euroc/"/>
		</include>
	</group>

	<!-- ================================== MH_02 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_2"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="/home/mfehr/experimental_ws/maplab/example_bags/euroc/MH_02_easy.bag -q -d 5 -s 0 -r 0.75">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-2.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="10"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_map_folder" default="/tmp/euroc/"/>
		</include>
	</group>

	<!-- ================================== MH_03 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_3"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="/home/mfehr/experimental_ws/maplab/example_bags/euroc/MH_03_medium.bag -q -d 5 -s 0 -r 0.75">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-3.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="10"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_map_folder" default="/tmp/euroc/"/>
		</include>
	</group>

	<!-- ================================== MH_04 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_4"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="/home/mfehr/experimental_ws/maplab/example_bags/euroc/MH_04_difficult.bag -q -d 5 -s 0 -r 0.75">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-4.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="10"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_map_folder" default="/tmp/euroc/"/>
		</include>
	</group>

	<!-- ================================== MH_05 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_5"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="/home/mfehr/experimental_ws/maplab/example_bags/euroc/MH_05_difficult.bag -q -d 5 -s 0 -r 0.75">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-5.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="10"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_map_folder" default="/tmp/euroc/"/>
		</include>
	</group>

		<!-- =============================== MAPLAB SERVER ========================================= -->
	<group ns="maplab_server">
		<include file="$(find maplab_server_node)/launch/maplab-server-node.launch">
			<arg name="server_node_config_file" default="$(find maplab_server_node)/share/euroc/euroc-maplab-server-config.yaml"/>

			<arg name="v" default="0"/>

			<arg name="tf_map_frame" default="map"/>
			<arg name="tf_mission_frame" default="maplab_server_odom"/>
			<arg name="tf_imu_frame" default="maplab_server_imu"/>
		</include>
	</group>
</launch>
