<?xml version="1.0"?>

<!--
Requires:
 - ethz-asl/maplab_private
 - ethz-asl/transfolder
-->

<launch>

	<arg name="euroc_attach_images" default="false"/>
	<arg name="euroc_save_map_every_n_sec" default="10"/>
	<arg name="euroc_clahe" default="false"/>
	<arg name="euroc_playback_speed" default="1.0"/>
	<arg name="euroc_remove_bad_landmarks" default="true"/>
	<arg name="euroc_bags_folder" default="/home/mfehr/experimental_ws/maplab/example_bags/euroc/"/>
	<arg name="euroc_root_map_directory" default="/tmp/maplab_node/"/>

	<!-- ================================== MH_01 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_1"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/MH_01_easy.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-1.yaml"/>
		  <arg name="maplab_save_map_every_n_sec" default="$(arg euroc_save_map_every_n_sec)"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_image_topic_suffix" default="image_raw"/>
			<arg name="maplab_attach_images" default="$(arg euroc_attach_images)"/>
		  <arg name="maplab_map_folder" default="$(arg euroc_root_map_directory)/$(arg euroc_robot_name)/"/>
			<arg name="maplab_apply_clahe" default="$(arg euroc_clahe)"/>
			<arg name="maplab_remove_bad_landmarks" default="$(arg euroc_remove_bad_landmarks)"/>
		</include>

		<node type="sender_node" pkg="transfolder" name="transfolder_$(arg euroc_robot_name)_sender" output="screen" args="-alsologtostderr">
			<remap from="/send_folder" to="/$(arg euroc_robot_name)/maplab_node/map_update_notification" />
			<remap from="/transfolder_$(arg euroc_robot_name)_sender/file_transfer" to="/transfolder/file_transfer" />

			<param name="root_directory" value="$(arg euroc_root_map_directory)"/>
			<param name="robot_name" value="$(arg euroc_robot_name)"/>
		</node>
	</group>

	<!-- ================================== MH_02 ================================================== -->
	<group if="true">
		<arg name="euroc_robot_name" default="euroc_mh_2"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/MH_02_easy.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-2.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="$(arg euroc_save_map_every_n_sec)"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_image_topic_suffix" default="image_raw"/>
			<arg name="maplab_attach_images" default="$(arg euroc_attach_images)"/>
			<arg name="maplab_map_folder" default="$(arg euroc_root_map_directory)/$(arg euroc_robot_name)/"/>
			<arg name="maplab_apply_clahe" default="$(arg euroc_clahe)"/>
			<arg name="maplab_remove_bad_landmarks" default="$(arg euroc_remove_bad_landmarks)"/>
		</include>

		<node type="sender_node" pkg="transfolder" name="transfolder_$(arg euroc_robot_name)_sender" output="screen" args="-alsologtostderr">
			<remap from="/send_folder" to="/$(arg euroc_robot_name)/maplab_node/map_update_notification" />
			<remap from="/transfolder_$(arg euroc_robot_name)_sender/file_transfer" to="/transfolder/file_transfer" />

			<param name="root_directory" value="$(arg euroc_root_map_directory)"/>
			<param name="robot_name" value="$(arg euroc_robot_name)"/>
		</node>
	</group>

	<!-- ================================== MH_03 ================================================== -->
	<group if="false">
		<arg name="euroc_robot_name" default="euroc_mh_3"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/MH_03_medium.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-3.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="$(arg euroc_save_map_every_n_sec)"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_image_topic_suffix" default="image_raw"/>
			<arg name="maplab_attach_images" default="$(arg euroc_attach_images)"/>
			<arg name="maplab_map_folder" default="$(arg euroc_root_map_directory)/$(arg euroc_robot_name)/"/>
			<arg name="maplab_apply_clahe" default="$(arg euroc_clahe)"/>
			<arg name="maplab_remove_bad_landmarks" default="$(arg euroc_remove_bad_landmarks)"/>
		</include>

		<node type="sender_node" pkg="transfolder" name="transfolder_$(arg euroc_robot_name)_sender" output="screen" args="-alsologtostderr">
			<remap from="/send_folder" to="/$(arg euroc_robot_name)/maplab_node/map_update_notification" />
			<remap from="/transfolder_$(arg euroc_robot_name)_sender/file_transfer" to="/transfolder/file_transfer" />

			<param name="root_directory" value="$(arg euroc_root_map_directory)"/>
			<param name="robot_name" value="$(arg euroc_robot_name)"/>
		</node>
	</group>

	<!-- ================================== MH_04 ================================================== -->
	<group if="false">
		<arg name="euroc_robot_name" default="euroc_mh_4"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/MH_04_difficult.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-4.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="$(arg euroc_save_map_every_n_sec)"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_image_topic_suffix" default="image_raw"/>
			<arg name="maplab_attach_images" default="$(arg euroc_attach_images)"/>
			<arg name="maplab_map_folder" default="$(arg euroc_root_map_directory)/$(arg euroc_robot_name)/"/>
			<arg name="maplab_apply_clahe" default="$(arg euroc_clahe)"/>
			<arg name="maplab_remove_bad_landmarks" default="$(arg euroc_remove_bad_landmarks)"/>
		</include>

		<node type="sender_node" pkg="transfolder" name="transfolder_$(arg euroc_robot_name)_sender" output="screen" args="-alsologtostderr">
			<remap from="/send_folder" to="/$(arg euroc_robot_name)/maplab_node/map_update_notification" />
			<remap from="/transfolder_$(arg euroc_robot_name)_sender/file_transfer" to="/transfolder/file_transfer" />

			<param name="root_directory" value="$(arg euroc_root_map_directory)"/>
			<param name="robot_name" value="$(arg euroc_robot_name)"/>
		</node>
	</group>

	<!-- ================================== MH_05 ================================================== -->
	<group if="false">
		<arg name="euroc_robot_name" default="euroc_mh_5"/>

		<node pkg="rosbag" type="play" name="rosbag_$(arg euroc_robot_name)" args="$(arg euroc_bags_folder)/MH_05_difficult.bag -q -d 2 -s 0 -r $(arg euroc_playback_speed)">
			<remap from="/imu0" to="/$(arg euroc_robot_name)/imu0" />
			<remap from="/cam0/image_raw" to="/$(arg euroc_robot_name)/cam0/image_raw" />
			<remap from="/cam1/image_raw" to="/$(arg euroc_robot_name)/cam1/image_raw" />
		</node>

		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
			<arg name="robot_name" default="$(arg euroc_robot_name)"/>
			<arg name="maplab_sensor_calibration_file" default="$(find maplab_server_node)/share/euroc/euroc-stereo-mh-5.yaml"/>
			<arg name="maplab_save_map_every_n_sec" default="$(arg euroc_save_map_every_n_sec)"/>
			<arg name="maplab_keyframe_when_saving" default="true"/>
			<arg name="maplab_image_topic_suffix" default="image_raw"/>
			<arg name="maplab_attach_images" default="$(arg euroc_attach_images)"/>
			<arg name="maplab_map_folder" default="$(arg euroc_root_map_directory)/$(arg euroc_robot_name)/"/>
			<arg name="maplab_apply_clahe" default="$(arg euroc_clahe)"/>
			<arg name="maplab_remove_bad_landmarks" default="$(arg euroc_remove_bad_landmarks)"/>
		</include>

		<node type="sender_node" pkg="transfolder" name="transfolder_$(arg euroc_robot_name)_sender" output="screen" args="-alsologtostderr">
			<remap from="/send_folder" to="/$(arg euroc_robot_name)/maplab_node/map_update_notification" />
			<remap from="/transfolder_$(arg euroc_robot_name)_sender/file_transfer" to="/transfolder/file_transfer" />

			<param name="root_directory" value="$(arg euroc_root_map_directory)"/>
			<param name="robot_name" value="$(arg euroc_robot_name)"/>
		</node>
	</group>

</launch>
