Source: libpointmatcher
Priority: extra
Maintainer: Stéphane Magnenat <stephane@nospam.magnenat.net>
Build-Depends: debhelper (>= 7.0.50~), cmake, doxygen, cdbs, libboost-all-dev, libeigen3-dev, libnabo-dev (>= 1.0.1~), yaml-cpp0.2.6-dev|libyaml-cpp-dev, libncurses5-dev
Standards-Version: 3.9.1
Section: libs
Homepage: https://github.com/ethz-asl/libpointmatcher
Vcs-Git: git://github.com/ethz-asl/libpointmatcher.git
Vcs-Browser: https://github.com/ethz-asl/libpointmatcher

Package: libpointmatcher-dev
Section: libdevel
Architecture: any
Depends: libpointmatcher1 (= ${binary:Version}), libnabo-dev (>= 1.0.1~), libboost-all-dev, libeigen3-dev, yaml-cpp0.2.6-dev|libyaml-cpp-dev, libncurses5-dev
Suggests: libpointmatcher-doc
Description: A modular ICP library, development headers.
 libpointmatcher is a modular ICP library, useful for robotics and
 computer vision.

Package: libpointmatcher1-dbg
Section: debug
Architecture: any
Depends: libpointmatcher1 (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for libpointmatcher, a fast K Nearset Neighbor library.
 libpointmatcher is a modular ICP library, useful for robotics and
 computer vision.

Package: libpointmatcher1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A modular ICP library, version 1.
 libpointmatcher is a modular ICP library, useful for robotics and
 computer vision.

Package: libpointmatcher-bin
Section: science
Architecture: any
Depends: libpointmatcher1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: A modular ICP library, ICP executable.
 libpointmatcher is a modular ICP library, useful for robotics and
 computer vision.
 
Package: libpointmatcher-doc
Section: doc
Architecture: all
Description: A modular ICP library, API documentation.
 libpointmatcher is a modular ICP library, useful for robotics and
 computer vision.
 

