<?xml version="1.0"?>

<launch>

	<!-- ================================== Roswitha ================================================== -->
	<group if="true">
		<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli_lidarstick.launch">
		  <arg name="maplab_save_map_every_n_sec" default="10"/>
      <arg name="maplab_keyframe_when_saving" default="false"/>
		  <arg name="maplab_map_folder" default="/tmp/lidarstick/"/>
		</include>
	</group>

	<node type="sender_node" pkg="transfolder" name="transfolder__sender" output="screen" args="-alsologtostderr">
    <param name="root_directory" value="/tmp/"/>
    <param name="robot_name" value="lidarstick"/>
  </node>

</launch>
