<?xml version="1.0"?>

<launch>
	<!-- SENSORS -->
	<arg name="sensor_calibration_file" default=""/>
	<!-- only needed if there are multiple ncameras/lidars/imus/odometries in the calibration file. -->
	<arg name="selected_ncamera_sensor_id" default=""/>
	<arg name="selected_lidar_ncamera_sensor_id" default=""/>
	<arg name="selected_imu_sensor_id" default=""/>
	<arg name="selected_lidar_sensor_id" default=""/>
	<arg name="selected_odometry_6dof_sensor_id" default=""/>
	<arg name="imu_to_camera_time_offset_ns" default="0"/>

	<!-- DATA SOURCE -->
	<arg name="datasource_type" default="rosbag"/>
	<arg name="datasource_rosbag" default=""/>

	<!-- LOCALIZATION BASED ON VISION -->
	<arg name="enable_visual_localization" default="false"/>
	<arg name="visual_localization_map_folder" default=""/>

	<!-- LOCALIZATION BASED ON LIDAR -->
	<arg name="enable_lidar_localization" default="false"/>
	<arg name="lidar_localization_map_folder" default=""/>
	<arg name="lc_ransac_lidar_exit_ratio" default="0.5" />
	<arg name="lc_num_ransac_iters" default="100" />
	<arg name="lc_ransac_lidar_uncertainty" default="0.7" />

	<!-- ONLINE MAPPING -->
	<arg name="enable_online_mapping" default="false"/>

	<!-- MAP BUILDING -->
	<arg name="map_output_folder" default=""/>
	<arg name="map_save_on_shutdown" default="false"/>
	<arg name="map_overwrite_enabled" default="false"/>
	<arg name="map_compute_localization_map" default="false"/>
	<!-- ATTACHING RESOURCES TO MAP -->
	<arg name="map_builder_save_image_as_resources" default="false"/>
	<arg name="map_builder_save_point_clouds_as_resources" default="false"/>

	<!-- TF -->
	<arg name="tf_map_frame" default="map"/>
	<arg name="tf_mission_frame" default="mission"/>
	<arg name="tf_imu_frame" default="imu"/>
	<arg name="tf_imu_refined_frame" default="imu_refined"/>

	<!-- DEBUGGING AND LOGGING -->
	<arg name="alsologtostderr" default="true"/>
	<arg name="colorlogtostderr" default="true"/>
	<arg name="v" default="3"/>
	<arg name="publish_debug_markers" default="true"/>

	<arg name="detection_visualize_keypoints" default="false"/>
	<arg name="feature_tracker_visualize_feature_tracks" default="false"/>
	<arg name="feature_tracker_visualize_keypoint_matches" default="false"/>
	<arg name="feature_tracker_visualize_keypoints" default="false"/>
	<arg name="feature_tracker_visualize_keypoints_individual_frames" default="false"/>

	<!-- LIDAR FEATURE TRACKING -->
	<arg name="lidar_image_projection_flatness_range" default="1"/>
	<arg name="lidar_image_projection_close_point" default="0.5"/>
	<arg name="lidar_image_projection_far_point" default="50"/>
	<arg name="lidar_image_projection_flatness_intensity" default="5"/>
	<arg name="lidar_image_projection_min_intensity" default="10"/>
	<arg name="lidar_image_projection_max_intensity" default="3000"/>
	<arg name="lidar_image_projection_draw" default="false"/>
	<arg name="NEW_feature_tracker_num_features" default="300"/>
	<arg name="NEW_feature_tracker_num_pyramid_levels" default="3"/>
	<arg name="NEW_feature_tracker_min_eigen_threshold" default="0.001"/>
	<arg name="NEW_feature_tracker_criteria_max_count" default="20"/>
	<arg name="NEW_feature_tracker_window_height" default="11"/>
	<arg name="NEW_feature_tracker_window_width" default="11"/>
	<arg name="NEW_feature_tracker_min_tracking_distance" default="1.0"/>
	<arg name="NEW_feature_tracker_pyramid_scale_decimation" default="1.5"/>
	<arg name="NEW_feature_tracker_ransac_threshold" default="0.00003807693"/>
	<arg name="NEW_feature_tracker_ransac_max_iters" default="200"/>
	<arg name="NEW_eature_tracker_ransac_fix_seed" default="false"/>
	<arg name="NEW_feature_tracker_detector_orb_edge_threshold" default="31"/>
	<arg name="NEW_feature_tracker_detector_orb_fast_threshold" default="20"/>
	<arg name="NEW_feature_tracker_brisk_uniformity_radius" default="5.0"/>
	<arg name="NEW_feature_tracker_detector_brisk_absolute_threshold" default="35.0"/>
	<arg name="NEW_feature_detector_type" default="brisk"/>
	<arg name="NEW_feature_descriptor_type" default="freak"/>
	<arg name="NEW_feature_pipeline_type" default="lk"/>

	<!-- SURF FEATURES -->
	<arg name="NEW_feature_tracker_surf_hessian_threshold" default="100"/>
	<arg name="NEW_feature_tracker_surf_n_octaves" default="4"/>
	<arg name="NEW_feature_tracker_surf_octave_layers" default="3"/>
	<arg name="NEW_feature_tracker_surf_extended" default="false"/>
	<arg name="NEW_feature_tracker_surf_upright" default="false"/>


	<arg name="map_run_keyframing_when_saving" default="false"/>
	<arg name="map_initialize_and_triangulate_landmarks_when_saving" default="true"/>
	<arg name="map_save_every_n_sec" default="0"/>
	<arg name="map_split_map_into_submaps_when_saving_periodically" default="false"/>
	<arg name="image_apply_clahe_histogram_equalization" default="true"/>
	<arg name="map_builder_save_point_cloud_maps_as_resources" default="false"/>


	<node name="maplab_node" pkg="maplab_node" type="maplab_node" required="true" output="screen" clear_params="true">

		<!-- SENSORS -->
		<param name="sensor_calibration_file" value="$(arg sensor_calibration_file)"/>
		<param name="selected_ncamera_sensor_id" value="$(arg selected_ncamera_sensor_id)"/>
		<param name="selected_lidar_ncamera_sensor_id" value="$(arg selected_lidar_ncamera_sensor_id)"/>
		<param name="selected_imu_sensor_id" value="$(arg selected_imu_sensor_id)"/>
		<param name="selected_lidar_sensor_id" value="$(arg selected_lidar_sensor_id)"/>
		<param name="selected_odometry_6dof_sensor_id" value="$(arg selected_odometry_6dof_sensor_id)"/>

		<!-- DATA SOURCE -->
		<param name="datasource_rosbag" value="$(arg datasource_rosbag)"/>
		<param name="datasource_type" value="$(arg datasource_type)"/>
		<param name="imu_to_camera_time_offset_ns" value="$(arg imu_to_camera_time_offset_ns)"/>

		<!-- VISION -->
		<param name="enable_visual_localization" value="$(arg enable_visual_localization)"/>
		<param name="visual_localization_map_folder" value="$(arg visual_localization_map_folder)"/>

		<!-- LIDAR -->
		<param name="enable_lidar_localization" value="$(arg enable_lidar_localization)"/>
		<param name="lidar_localization_map_folder" value="$(arg lidar_localization_map_folder)"/>
		<param name="lidar_image_projection_flatness_range" value="$(arg lidar_image_projection_flatness_range)"/>
		<param name="lidar_image_projection_close_point" value="$(arg lidar_image_projection_close_point)"/>
		<param name="lidar_image_projection_far_point" value="$(arg lidar_image_projection_far_point)"/>
		<param name="lidar_image_projection_flatness_intensity" value="$(arg lidar_image_projection_flatness_intensity)"/>
		<param name="lidar_image_projection_min_intensity" value="$(arg lidar_image_projection_min_intensity)"/>
		<param name="lidar_image_projection_max_intensity" value="$(arg lidar_image_projection_max_intensity)"/>
		<param name="lidar_image_projection_draw" value="$(arg lidar_image_projection_draw)"/>
		<param name="lc_ransac_lidar_exit_ratio" value="$(arg lc_ransac_lidar_exit_ratio)"/>
		<param name="lc_num_ransac_iters" value="$(arg lc_num_ransac_iters)"/>
		<param name="lc_ransac_lidar_uncertainty" value="$(arg lc_ransac_lidar_uncertainty)"/>

		<!-- ONLINE MAPPING -->
		<param name="enable_online_mapping" value="$(arg enable_online_mapping)"/>

		<!-- MAP -->
		<param name="map_output_folder" value="$(arg map_output_folder)"/>
		<param name="map_save_on_shutdown" value="$(arg map_save_on_shutdown)"/>
		<param name="map_overwrite_enabled" value="$(arg map_overwrite_enabled)"/>
		<param name="map_compute_localization_map" value="$(arg map_compute_localization_map)"/>
		<!-- ATTACHING RESOURCES TO MAP -->
		<param name="map_builder_save_image_as_resources" value="$(arg map_builder_save_image_as_resources)"/>
		<param name="map_builder_save_point_clouds_as_resources" value="$(arg map_builder_save_point_clouds_as_resources)"/>

		<!-- TF -->
		<param name="tf_map_frame" value="$(arg tf_map_frame)"/>
		<param name="tf_mission_frame" value="$(arg tf_mission_frame)"/>
		<param name="tf_imu_frame" value="$(arg tf_imu_frame)"/>
		<param name="tf_imu_refined_frame" value="$(arg tf_imu_refined_frame)"/>

		<!-- DEBUGGING AND LOGGING -->
		<param name="alsologtostderr" value="$(arg alsologtostderr)"/>
		<param name="colorlogtostderr" value="$(arg colorlogtostderr)"/>
		<param name="v" value="$(arg v)"/>
		<param name="publish_debug_markers" value="$(arg publish_debug_markers)"/>

		<param name="detection_visualize_keypoints" value="$(arg detection_visualize_keypoints)"/>
		<param name="feature_tracker_visualize_feature_tracks" value="$(arg feature_tracker_visualize_feature_tracks)"/>
		<param name="feature_tracker_visualize_keypoint_matches" value="$(arg feature_tracker_visualize_keypoint_matches)"/>
		<param name="feature_tracker_visualize_keypoints" value="$(arg feature_tracker_visualize_keypoints)"/>
		<param name="feature_tracker_visualize_keypoints_individual_frames" value="$(arg feature_tracker_visualize_keypoints_individual_frames)"/>

		<param name="NEW_feature_tracker_num_features" value="$(arg NEW_feature_tracker_num_features)"/>
		<param name="NEW_feature_tracker_num_pyramid_levels" value="$(arg NEW_feature_tracker_num_pyramid_levels)"/>
		<param name="NEW_feature_tracker_min_eigen_threshold" value="$(arg NEW_feature_tracker_min_eigen_threshold)"/>
		<param name="NEW_feature_tracker_criteria_max_count" value="$(arg NEW_feature_tracker_criteria_max_count)"/>
		<param name="NEW_feature_tracker_window_height" value="$(arg NEW_feature_tracker_window_height)"/>
		<param name="NEW_feature_tracker_window_width" value="$(arg NEW_feature_tracker_window_width)"/>
		<param name="NEW_feature_tracker_min_tracking_distance" value="$(arg NEW_feature_tracker_min_tracking_distance)"/>
		<param name="NEW_feature_tracker_pyramid_scale_decimation" value="$(arg NEW_feature_tracker_pyramid_scale_decimation)"/>
		<param name="NEW_feature_tracker_ransac_threshold" value="$(arg NEW_feature_tracker_ransac_threshold)"/>
		<param name="NEW_feature_tracker_ransac_max_iters" value="$(arg NEW_feature_tracker_ransac_max_iters)"/>
		<param name="NEW_eature_tracker_ransac_fix_seed" value="$(arg NEW_eature_tracker_ransac_fix_seed)"/>
		<param name="NEW_feature_tracker_detector_orb_edge_threshold" value="$(arg NEW_feature_tracker_detector_orb_edge_threshold)"/>
		<param name="NEW_feature_tracker_detector_orb_fast_threshold" value="$(arg NEW_feature_tracker_detector_orb_fast_threshold)"/>
		<param name="NEW_feature_tracker_brisk_uniformity_radius" value="$(arg NEW_feature_tracker_brisk_uniformity_radius)"/>
		<param name="NEW_feature_tracker_detector_brisk_absolute_threshold" value="$(arg NEW_feature_tracker_detector_brisk_absolute_threshold)"/>
		<param name="NEW_feature_detector_type" value="$(arg NEW_feature_detector_type)"/>
		<param name="NEW_feature_descriptor_type" value="$(arg NEW_feature_descriptor_type)"/>
		<param name="NEW_feature_pipeline_type" value="$(arg NEW_feature_pipeline_type)"/>

		<param name="NEW_feature_tracker_surf_hessian_threshold" value="$(arg NEW_feature_tracker_surf_hessian_threshold)"/>
		<param name="NEW_feature_tracker_surf_n_octaves" value="$(arg NEW_feature_tracker_surf_n_octaves)"/>
		<param name="NEW_feature_tracker_surf_octave_layers" value="$(arg NEW_feature_tracker_surf_octave_layers)"/>
		<param name="NEW_feature_tracker_surf_extended" value="$(arg NEW_feature_tracker_surf_extended)"/>
		<param name="NEW_feature_tracker_surf_upright" value="$(arg NEW_feature_tracker_surf_upright)"/>

		<param name="map_run_keyframing_when_saving" value="$(arg map_run_keyframing_when_saving)"/>
		<param name="map_initialize_and_triangulate_landmarks_when_saving" value="$(arg map_initialize_and_triangulate_landmarks_when_saving)"/>
		<param name="map_save_every_n_sec" value="$(arg map_save_every_n_sec)"/>
		<param name="map_split_map_into_submaps_when_saving_periodically" value="$(arg map_split_map_into_submaps_when_saving_periodically)"/>
		<param name="image_apply_clahe_histogram_equalization" value="$(arg image_apply_clahe_histogram_equalization)"/>
		<param name="map_builder_save_point_cloud_maps_as_resources" value="$(arg map_builder_save_point_cloud_maps_as_resources)"/>


	</node>
</launch>
