<?xml version="1.0"?>

<launch>
	<node pkg="rosbag" type="play" name="rosbag" args="/media/mfehr/SSD_1TB/anymal_new_darpa_head/AnymalBags/2019-11-08-18-09-14.bag -q -d 2 -r 1.0"/>

	<!-- <node pkg="rviz" type="rviz" name="maplab_rviz" args="-d $(find maplab_node)/share/maplab.rviz -f map"/> -->

	<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
		<arg name="robot_name" default=""/>
		<arg name="maplab_sensor_calibration_file" default="$(find maplab_node)/share/example_calibrations/anymal-rsl-sensor-head-vi.yaml"/>
		<arg name="maplab_imu_to_camera_time_offset_ns" default="19933008"/>
		<arg name="maplab_camera_mask_file" default=""/>
		<arg name="maplab_apply_clahe" default="true"/>

		<arg name="maplab_image_topic_suffix" default=""/>

	  <arg name="maplab_world_frame" default="map"/>

		<!-- <arg name="maplab_rovioli_localization_map_folder" default="/home/mfehr/experimental_ws/maplab/anymal_rsl/map_2019-11-08-18-01-56/clahe/maplab_node_map_opt"/> -->
		<!-- <arg name="maplab_maplab_node_localization_map_folder" default="/home/mfehr/experimental_ws/maplab/anymal_rsl/map_2019-11-08-18-01-56/clahe/maplab_node_map_opt"/> -->

	  <arg name="maplab_verbosity" default="0"/>

	  <arg name="maplab_save_map_every_n_sec" default="0"/>
		<arg name="maplab_keyframe_when_saving" default="false"/>

	  <arg name="maplab_attach_tracking_images" default="false"/>
	  <arg name="maplab_attach_point_clouds" default="false"/>
	  <arg name="maplab_attach_point_cloud_maps" default="false"/>

	  <arg name="maplab_map_folder" default="/home/mfehr/experimental_ws/maplab/anymal_rsl/map_2019-11-08-18-09-14/clahe_loc"/>
	</include>
</launch>
