<?xml version="1.0"?>

<launch>
	<node pkg="rosbag" type="play" name="rosbag" args="/home/mfehr/experimental_ws/maplab/test_bags/V1_01_rovioli.bag -q -d 2 -s 3 -r 2.0"/>

	<node pkg="rviz" type="rviz" name="maplab_rviz" args="-d $(find maplab_node)/share/maplab.rviz -f map"/>

	<include file="$(find maplab_node)/launch/maplab_node_w_rovioli/maplab_node_rovioli.launch">
		<arg name="robot_name" default=""/>
		<arg name="maplab_sensor_calibration_file" default="$(find maplab_node)/share/example_calibrations/euroc-mono.yaml"/>
		<arg name="maplab_imu_to_camera_time_offset_ns" default="0"/>

		<arg name="maplab_image_topic_suffix" default="/image_raw"/>

	  <arg name="maplab_world_frame" default="map"/>

	  <arg name="maplab_verbosity" default="1"/>

	  <arg name="maplab_save_map_every_n_sec" default="0"/>
		<arg name="maplab_keyframe_when_saving" default="false"/>

	  <arg name="maplab_attach_images" default="false"/>
	  <arg name="maplab_attach_point_clouds" default="false"/>
	  <arg name="maplab_attach_point_cloud_maps" default="false"/>

	  <arg name="maplab_map_folder" default="/tmp/"/>
	</include>
</launch>
